:root {
  --primary-colour: #d12f2f;
  --secondary-color: ghostwhite;
  --green-light: #37c86a;
  --yellow-light: #d88a27;
  --red-light: #bc4e43;
}

//  Mixins

@mixin button {
  padding: 20px;
  background-color: transparent;
  width: 33%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 5px 5px 5px 10px;
  box-shadow: 2px 2px 2px 2px #a09c9c;
}

//  Functions
$green: #37c86a;
$yellow: #d88a27;
$red: #bc4e43;

@function text-contrast($color) {
  @if (saturation($color) > 50) {
    @return #000;
  } @else {
    @return ghostwhite;
  }
}

// Fonts

@font-face {
  font-family: Raleway;
  src: url(/src/assets/Raleway-Light.ttf);
}
//  General styling

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--secondary-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-colour);
}

header {
  text-align: right;
  padding: 20px;
  height: 150px;
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: auto 0;
  padding: 40px;
}

//  Class and ID styling

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  width: 80%;
  .checklist-item {
    display: flex;
    min-width: 100%;
    padding: 20px;
    p {
      padding: 10px;
    }
  }
}

.how-to {
  ul {
    li {
      padding: 20px;
      font-size: 1.2em;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
}

.green-light,
.yellow-light,
.red-light {
  @include button;
  width: 100%;
}

.green {
  color: text-contrast($green);
  background-color: var(--green-light);
}

.yellow {
  color: text-contrast($yellow);
  background-color: var(--yellow-light);
}

.red {
  color: text-contrast($red);
  background-color: var(--red-light);
}

//  Media queries
@media (min-width: 678px) {
  .checklist-item {
    justify-content: flex-end;
  }
  .options {
    flex-direction: row;
  }
  .green-light,
  .yellow-light,
  .red-light {
    width: 33%;
  }
}
